.checkbox_container {
    display: flex;
    flex-direction: column;
}

.checkbox {
    width: 1.5em;
    height: 1.5rem;
    border: 0.15rem solid #818181;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox:hover {
	cursor: pointer;
}

.input {
    display: none;
}

.error {
    border: 0.15rem solid var(--error);
    border-color: var(--error);
}

.error_label {
    color: var(--error);
}

.input:checked + label .checkbox {
    border-color: var(--accent);
}

.checkbox svg path {
	fill: var(--accent);
}
