.label {
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 120%;
    letter-spacing: 0.05rem;
}

.input {
    width: 100%;

    padding: 0.9em 1.2em;

	border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border);
	text-align: center;

    font-size: 1rem;
}

.input:focus {
    outline: none;
    border: var(--border-width) solid var(--accent);
}

.error {
    border-color: var(--error);
}

.error_label {
	color: var(--error); 
}
