.code {
	font-size: 14px;
	background: #1d1d1d;
	padding: 1rem;
	border-radius: 0 0 0.5rem 0.5rem;
	color: white;
	whitespace: pre;
	overflow-x: scroll;
	scrollbar-width: none;
	tab-size: 4;
	-moz-tab-size: 4;
}

.code::-webkit-scrollbar {
	display: none;
}

.example {
	display: none;
}

.example_code {
	border: 1px solid #4b4b4b;
	border-top: none;
}

.caption {
	color: white;
	background: #1d1d1d;
	padding: .7rem;
	padding-left: 1rem;
	border-bottom: 1px solid grey;
	border-radius: 0.5rem 0.5rem 0 0;
}

.copy {
	cursor: pointer;
}

.copy:hover {
	background: #1e1e1e;
	border-radius: 0.2rem;
}

@media only screen and (min-width: 800px) { 
	.code {
		font-size: 16px;
	}
}
