:root {	/* Universal */
	--placeholder: #696969;
    --background-light: #f4f4f4;
	--border-light: #D9D9D9;
	--title-light: #0F0F0F;
	--text-light: #404040;
	--accent-light: black;
	--error-light: #E10000;
	--contrast-light: white;

    --background-dark: #09090B;
	--border-dark: #212121;
	--title-dark: white;
	--text-dark: #F3F3F3;
	--accent-dark: white;
	--error-dark: #8D0000;
	--contrast-dark: black;

	--border-radius: .6rem;
	--border-width: 2px;

	/* Theme changed */
    --background: #f4f4f4;
	--border: #D9D9D9;
	--title: #0F0F0F;
	--text: #404040;
	--accent: blue;
	--error: #E10000;
	--contrast: white;

}

.dark {
	/* Theme changed */
    --background: #111111;
	--border: #212121;
	--title: white;
	--text: #F3F3F3;
	--accent: white;
	--error: #8D0000;
	--contrast: #040404;
}

body {
    background: var(--background);
	background-image: url("/background.svg");
	background-repeat: repeat;
	background-size: 20vw 20vw;
	font-family: var(--font-ibm-plex), sans-serif;
	color: var(--text);

	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

@media only screen and (min-width: 800px) {
	body {
		background-size: 10vw 10vw;
	}
}

@media only screen and (min-width: 1500px) {
	body {
		background-size: 5vw 5vw;
	}
}

h1, h2, h3, h4 {
	font-family: var(--font-space-grotesk), sans-serif;
}

code, pre {
	font-family: var(--font-jetbrains-mono), monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
	font-size: 16px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
	text-shadow: 0 0 7px #ff4600;
	cursor: pointer
}

em {
	text-shadow: 0 0 7px #ff4600;
	font-style: normal;
}

em:hover {
	text-decoration: underline;
}

h1 {
    font-size: 2rem;
	color: var(--title);
}

h2 {
	font-size: 1.5rem;
	color: var(--title);
}

h3 {
	font-size: 16px;
	color: var(--title);
}

h4 {
	font-size: 14px;
}

p {
    font-size: 14px;
	color: var(--text);
}

b {
    font-size: 14px;
}

input {
	color: var(--text);
}


