:root {
	/* Universal */
	--placeholder: #696969;
    --background-light: white;
	--border-light: #D9D9D9;
	--title-light: #0F0F0F;
	--text-light: #404040;
	--accent-light: black;
	--error-light: #E10000;
	--contrast-light: white;

    --background-dark: #09090B;
	--border-dark: #212121;
	--title-dark: white;
	--text-dark: #F3F3F3;
	--accent-dark: white;
	--error-dark: #8D0000;
	--contrast-dark: black;

	--border-radius: .6rem;
	--border-width: 2px;

	/* Theme changed */
    --background: white;
	--border: #D9D9D9;
	--title: #0F0F0F;
	--text: #404040;
	--accent: blue;
	--error: #E10000;
	--contrast: white;

}

.dark {
	/* Theme changed */
    --background: #111111;
	--border: #212121;
	--title: white;
	--text: #F3F3F3;
	--accent: white;
	--error: #8D0000;
	--contrast: #040404;
}

body {
    background: var(--background);
	font-family: var(--font-ibm-plex-sans);
}

h1, h2, h3, h4 {
	font-family: var(--font-space-grotesk);
}

code, pre {
	font-family: var(--font-jetbrains-mono), monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
	font-size: 16px;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
	text-shadow: 0 0 7px #ff4600;
	cursor: pointer
}

h1 {
    font-size: 2rem;
	color: var(--title);
}

h2 {
	font-size: 1.5rem;
	color: var(--title);
}

h3 {
	font-size: 16px;
	color: var(--title);
}

h4 {
	font-size: 14px;
}

p {
    font-size: 14px;
	color: var(--text);
}

