.hero {
	margin-top: -3rem;
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #111;
	background-image: url("/small-grid.svg");
	positoin: relative;
}

.graphic {
	width: 100%;
	height: calc(100vh) + 3rem;
}

.tile {
	opacity: 0;
	transition: opacity 0.3s ease, filter 0.3s ease;
}

.tile:hover {
	opacity: 1;
	filter: drop-shadow(0 0 3px #ff4600);
}

.title {
	width: 40vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.action {
	background: #212121;
	width: 100%;
}

.description {
	font-size: 1rem;
}

.cta {
	justify-content: center !important;
}

.btn:hover {
	background: #212121 !important;
	box-shadow: 0 0 7px #ff4600;
}

@media only screen and (min-width: 800px) {
	.description {
		font-size: 1.2rem;
	}
}
