.hero {
	margin-top: -3rem;
	width: 100%;
	positoin: relative;
}

.graphic {
	width: 100%;
	height: calc(100vh) + 3rem;
}

.title {
	width: 100%;
	text-align: left;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	background: #212121;
}

.action_bar {
	background: #212121;
	width: 100%;
}

.cta_group {
	display: block !important;
}

.description {
	font-size: 1rem;
}

.cta {
	padding-top: 2rem;
	padding-bottom: 8.6rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 4px;
}

.cta h2 {
	font-weight: normal;
}

.btn:hover {
	background: #212121 !important;
	box-shadow: 0 0 7px #ff4600;
}

.card {
	background: #1d1d1d !important;
	cursor: pointer;
}

.kit_link {
	width: 100%;
}

@media only screen and (min-width: 800px) {
	.description {
		font-size: 1.2rem;
	}

	.title {
		width: 40vw;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		background: none;
	}
	
	.cta_group {
		display: flex !important;
	}

	.cta {
		min-width: 30%;
	}

	.cta:hover {
		background: #2b2b2b;
		cursor: pointer;
		text-shadow: none;
	}
}
