.subway_icon {
    background: black;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    position: absolute;
    /* margin-top: -2.4rem;
  margin-left: 1rem; */
    left: 1rem;

    top: 50%;
    transform: translate(0%, 25%);
}

.parant {
    position: relative;
}

.subway_input {
    padding-left: 4rem;
}
