.label {
    font-weight: bold;
    font-size: 1rem;
    /* line-height: 120%; */
    /* letter-spacing: 0.05rem; */
}

.select {
    width: 100%;
    background-color: transparent;
    padding: 0.9em 1.2em;

    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border);

    font-size: 1rem;
	color: var(--text);
}

.select:focus {
    outline: none;
}

.error {
    border-color: var(--error);
}

.error_label {
	color: var(--error); 
}
