.divider {
    display: flex;
	align-items: center;
    width: 100%;
	margin: 2rem 0;
}

.line {
	background: var(--border);	
	width: 100%;
	height: var(--border-width);
}

.text {
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 1rem;
	margin: 0 1rem;
}
