.glow {
	color: #cc2e1a;
	border: 1px solid #cc2e1a;
	opacity: 0.6;

	/* glow imitation without box-shadow */
	filter: drop-shadow(0 0 6px #cc2e1a);

	border-radius: 6px;
}

.render {
	border: 1px solid #4b4b4b;
	border-radius: 4px 4px 0 0;
	padding: 2rem;
	background: #1d1d1d;
	overflow-x: scroll;
}
