.input {
    display: none;
}

.label {
    color: var(--text);
    border: var(--border-width) solid var(--border);
    border-radius: 0.4rem;

    user-select: none;

    padding: 0.7rem 0.7em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    cursor: pointer;
}

.lk {
    padding: 0.9rem 0.7em;
}

.checked {
    border-color: var(--accent) !important;
    color: var(--accent) !important;
}
