.table {
	background: #1d1d1d;
	border-radius: .5rem;
	padding: .5rem;
	width: 100%;
	text-align: left;
	border-spacing: .5rem;
}

.code {
	background-color: #3a3a3a;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.85rem;
}

@media only screen and (max-width: 800px) {
	.description {
		display: none;
	}
}
