.card {
	background: #1D1D1D !important;
	margin-top: 0px !important;
}

.grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
}

.emoji {
	font-size: 1rem;
}


@media only screen and (min-width: 800px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}

	.emoji {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1500px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

