.footer {	
	padding: 2rem 0;
    background: #0f0f0f;
    margin-top: 6rem;
	border-top: 1px solid var(--border);
	color: var(--text-dark);
	min-height: 16rem;
}

.column h3 {
	margin-bottom: 1rem;
}
