.header {	
	padding: 1rem 0;
    background: #0f0f0f;
    margin-top: 6rem;
	border-top: 1px solid var(--border);
	color: var(--text-dark);
	min-height: 10rem;
}

.header h2 {
	color: white;
	font-weight: normal;
	font-size: 16px;
}
