.base {
    background-color: var(--contrast);
    border-radius: var(--border-radius);
	padding: .5em;
	width: fit-content;
}

.accent {
    background-color: var(--accent);
	color: var(--contrast);
}

.secondary {
    background-color: var(--border);
	color: var(--title);
}

.outline {
	border: var(--border-width) solid var(--border);
	background-color: transparent;
}
