.nav {	
    background: #151515;
	border-top: 1px solid var(--border);
	color: var(--text-dark);

    margin-top: 10rem;
	margin-bottom: -6rem;
}

.prev, .next {
	width: 100%;
	height: 8rem;
	padding: 1rem;
}

.prev:hover, .next:hover {
	background: #1d1d1d;
}

.container {
	padding: 0;
}

.container a {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.container {
		padding: 0 1rem;
	}
}

.next {
	text-align: right;
}

.next h3, .prev h3 {
	text-transform: capitalize;
}

