.header {	
	padding: 1rem 0;
    background: #0f0f0f;
    margin-bottom: 3rem;
	border-bottom: 1px solid var(--border);
	color: var(--text-dark);
}

.header h2 {
	color: white;
	font-weight: normal;
	font-size: 16px;
}

.large_nav {
	display: none;
}

@media only screen and (min-width: 800px) {
	.large_nav {
		display: flex;
		gap: 1.2rem;
	}

	.small_nav {
		display: none;
	}
}

