.svg {
  width: 70px;
  height: 70px;

  transition: 250ms ease-in-out;
  stroke-linecap: round;
}

.gauge {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dial_bar_bg {
	background: var(--border);
	stroke: var(--border);
}

.dial_bar {
	background: green;
	stroke: green;
}

.green {
	stroke: green;
}

.orange {
	stroke: orange;
}

.red {
	stroke: var(--error);
}

.icon_text {
	font-size: 1.5em;
	font-weight: bold;
	fill: var(--text);
}

